includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    ignoreErrors:
        - '#Call to static method l\(\) on an unknown class WP2Static\\WsLog.#'
        - '#Call to static method ensure_index\(\) on an unknown class WP2Static\\Controller.#'
